#vcomments{
    border:0.125rem solid #ececec;
}
#vcomments .vwrap{
    border:0.225rem solid #ececec
}
.v .vwrap .vheader .vinput{
    border-bottom:0.125rem solid #ececec
}
.comment-widget-title {
    width:900px;
    display: block;
    color: #1abc9c;
    font-size: 1.5625rem;
    font-weight: 500;
}
.text-left {
    text-align: left !important;
}
.comment-widget{
    width: 900px;
    display: block;
    margin: 150px auto 0;
}