/*--------------------------------------------------*/
// Custom - 自定义
/*--------------------------------------------------*/ 

// Edit the style of you.
myblockquote::before{
    content:open-quote;
    color:#ddd;
    z-index:-1;
    font-size:80px;
}


audio {
    width: 300px;
    height: 54px;
}

html{cursor:url('/img/cursor.jpg'),auto;}
A{cursor:url('/img/cursor.jpg'),auto;}

.mzt-container{
    max-width:650px;
    margin:0 auto;
}


// 生成海报按钮
.btn_click_html2cancas{
    width:20px;
    height:20px;
    background-color:transparent;
    border-style:none;

}

.canvas{
    background-size: cover;
}