/*--------------------------------------------------*/
// Custom - 自定义
/*--------------------------------------------------*/ 

// Edit the style of you.
myblockquote::before{
    content:open-quote;
    color:#ddd;
    z-index:-1;
    font-size:80px;
}
ggl{
    background:gray;
    color:gray;
    width:100%;
    margin:20px auto;
}


#canvas{
		  background: url(https://www.lilnong.top/static/img/avator/avator-21.jpg);
}

audio {
    width: 300px;
    height: 54px;
}

html{cursor:url('/img/cursor.jpg'),auto;}
A{cursor:url('/img/cursor.jpg'),auto;}

.mzt-container{
    max-width:650px;
    margin:0 auto;
}